#jscurtain {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 10000;
	text-align: center;
	padding-top: 2em;
	font-size: 2em;
}

.room_cafe {
	fill:#dccc00;
	fill-opacity:1; 
	fill-rule:evenodd; 
} 

.room_admin {
	fill:#cc9900;
	fill-opacity:1; 
	fill-rule:evenodd; 
}

.room_public {
	fill:#009900;
	fill-opacity:1;
	fill-rule:evenodd;
} 

#field {
	font-size: 12pt;
	position: fixed;
	height: 100%;
	width: 100%;
}

#zoom-field {
	position: fixed;
	height: 100%;
	width: 100%;
	-webkit-transition: transform 0.5s ease-in-out;
    -moz-transition:transform 0.5s ease-in-out;
    -ms-transition:transform 0.5s ease-in-out;
}

#map-container {
	position: fixed;
	height: 100%;
	width: 100%;
}

#map-container object {
	position: absolute;
}

.lable-container div {
	position: absolute;
	display: table;
	color: #eee;
	font-size: 1em;
	font-weight: 600;
	text-align: center;
}

.lable-container div span {
	display: table-cell;
	vertical-align: middle;
	word-break: keep-all;
	white-space: normal;
	line-height: normal;
}

.fbuttons, #map-container * {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	cursor: default;
}

#panel {
	position: absolute;
}

#loader {
	width: 100%;
	height: 100%;
	padding-bottom: 3em;
	background-color: white;	
	position: fixed;
	display: table;
	text-align: center;
	z-index: 2;
}

#loader div {
	display: table-cell;
	vertical-align: middle;
}

.fbuttons {
	z-index: 1;
	position: fixed;
	width: 1.8em;
	font-size: 1.5em;
	text-align: center;
	background-color: #f0f6f9;
	border-radius: 1em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-khtml-border-radius: 2em;
	border: 2px solid #464a4f;
	padding: 0px; 
}

.falign-right {
	right: 0.5em;
}

.falign-left {
	left: 0.5em;
}

#floor_txt {
	font-size: 0.5em;
	margin-top: -1em;
}


	@media screen and (max-width: 1500px) {
		.fbuttons {
			font-weight: 600;
		}
	}
	
	@media screen and (max-width: 1500px) {
		.lable-container div {
			font-weight: 900;
		}
	}
