{% extends "frontend/base.html" %}
{% block content %}
<div class="inner_short">
<h1></h1>
<h1 class="align-center">Справка</h1>
<div class="align-left">
<h3>Главная</h3>
<p>
Окно с одной единственной формой ввода необходимо для аутентификации пользователя. Для просмотра раписания достаточно ввести номер групппы, но для возможности редактирования необходим ваш ID, который всегда можно спросить у бота.
</p>

<h3>Расписание</h3>
<p>
На странице находится полоса с номерами недель при нажатии на номер открывается расписание для соответствующей недели. По умолчанию при открытии страницы отображается текущая неделя.
</p>

<h3>Редактор</h3>
<p>
На странице радектора можно добавить, удалить, скрыть и изменить пары. <br>
Расписание формируется из двух слоев: <br>
1. Пары из официального расписания, которые не подлежат изменению.<br>
2. Пользовательские пары. При редактировании пары из официального расписания создается ее пользовательская копия, и уже с ней можно совершать все выше описанные действия. <br>
Два слоя пар нужны, чтобы можно было отслеживать изменения в официальном расписании, а также для сохранности пользовательского расписания.
</p>
<h4>Режим</h4>
<p>
"Официальное расписание" - пары из документов с расписанием с сайта МТУ, без каких-либо изменений. При данном режиме просмотра функция редактирования недоступна.<br>
"Моё расписание" - режим в котором производится редактирование, отображает все пары с учетом произведенных изменений.
</p>
<h4>Вид</h4>
<p>
Здесь определяется какие сведения о парах отображаются в таблице редактора.
</p>
<h4>Уведомления</h4>
<p>
Включение/выключение уведомлений о предстоящих парах. Время уведомлений установить нельзя из-за технических особенностей работы бота в vk.<br>
"Пары сегодня" - список предстоящих сегодня пар. Приходит с 3 до 6 утра.<br>
"Пары завтра" - список пар на завтра. Приходит с 3 до 6 утра.<br>
"Пары на неделю" - список пар по дням на всю неделю. Приходит с 3 до 6 утра воскресения.<br>
"Первая пара" - присылает схему с аудиторей где проходит первая за день пара (вместе с названием пары)<br>
</p>

<h3>Карта</h3>
<p>
</p>

<h1 class="align-center">Инструкция к боту</h1>
<h3>Описание</h3>
<p>
Просто спросите расписание, как спрашиваете обычно у одногруппников.<br>
В групповой беседе надо обращаться к боту "расписание" или "бот".
</p><p>
<h3>Бот может показать:</h3>
<ul class="alt">
<li>- следующие пары</li>
<li>- пары сегодня</li>
<li>- пары завтра</li>
<li>- пары послезавтра</li>
<li>- пары вчера</li>
<li>- пары в понедельник .. субботу</li>
<li>- текущую пару</lili>
<li>- пару по номеру (первая..пятая)</li>
<li>- пары по дате ("1 ноября" или "1.11")</li>
<li>- пару по времени ("17:30")</li>
<li>- кто преподаватель на паре (по номеру, не по названию)</li>
<li>- какая идет неделя </li>
<li>- сколько прошло с начала семестра</li>
<li>- сколько осталось до конца семестра</li>
<li>- схему этажа с нужной аудиторией ⚠</li>
<li>- расписание экзаменационной сессии *выключено*</li>
<li>- отдельно экзамены *выключено*</li>
<li>- отдельно консультации *выключено*</li>
<li>- расписание зачетной сессии *выключено*</li>
<li>- календарь на декабрь или январь</li>
<li>- время начала и конца пар</li>
<li>- выдать краткую инструкцию</li>
<li>- сохраненный номер группы</li>
</ul>

<h3>Примеры сообщений:</h3>
<ul class="alt">
<li>"Какие завтра пары?"</li>
<li>v"Что у меня в пятницу в 17:00?"</li>
<li>"Расписание на 1 ноября"</li>
<li>"Кто лектор в четверг на первой паре?"</li>
<li>"Аудитория Г-301д"</li>
<li>"Где 1 пара во вторник?"⚠</li>
<li>"Какую группу ты запомнил?"</li>
</ul>

<h3>Замечания</h3>
<p>
Схемы этажей можно комментировать, если у вас есть относящаяся к схеме информация, обязательно напишите - всем будет интересно!
</p><p>
Во избежании блокировки добавлены различные ограничения:<br>
- Бот отвечает только на понятные ему сообщения.<br>
- Бот НЕ ПИШЕТ один и тот же ответ больше ОДНОГО раза.<br>
- Бот может ответить с задержкой, но не больше 15 секунд.<br>
</p><p>
Сообщить об ошибке или написать разработчику можно 2 способами:<br>
1. Добавить к сообщению пометку "ошибка", "предложение", "разработчику".<br>
2. Отправить письмо на timetable.bot@yandex.ru<br>
</p>

</div>
</div>
{% endblock %}
