{% extends "frontend/base.html" %}
{% block content %}
<section id="main" class="wrapper">
<div class="inner">
<div class="table-wrapper">
<div class="weeks_title">НЕДЕЛИ</div>
<table class="panel on_pc">
<tbody>
	<tr>
		{% for numb, week in week_panel.items %}
		<td class="{% if week.status %}panel_on{% else %}panel_off{% endif%}" >
			<a href="{% url "schedule" numb %}"></a>
			{{ numb }}<br><span class="week_range">{{ week.range }}</span>
		</td>
		{% endfor %}
	</tr>
</tbody>
</table>
<table class="panel on_mobile">
<tbody>
	<tr>
		{% for numb, week in week_panel.items %}
		{% if numb == 9 %}
	</tr>
	<tr>
		{% endif %}
		<td class="{% if week.status %}panel_on{% else %}panel_off{% endif%}" >
			<a href="{% url "schedule" numb %}"></a>
			{{ numb }}
		</td>
		{% endfor %}
	</tr>
</tbody>
</table>

<table class="schedule alt align-center">
<thead>
	<tr>
		<th></th>
		<th class="ltime"></th>
		<th>Понедельник</th>
		<th>Вторник</th>
		<th>Среда</th>
		<th class="extra_days">Четверг</th>
		<th class="extra_days">Пятница</th>
		<th class="extra_days">Суббота</th>
	</tr>
</thead>
<tbody>
{% for numb, row in table_content.items %}
	<tr>
		<td class="left">{{ row.liter }}</td>
		<td class="left ltime">{{ row.time }}</td>
		{% for day, event_list in row.events.items %}
			<td  class="events_cell {% if day > 2 %}extra_days{% endif %}">
			{% for event in event_list %}
			<div>
				<span class="event_name">{{ event.name }}</span><br>
				{% if event.teacher %}<span class="event_teacher">{{ event.teacher }}</span><br>{% endif %}
				{% if event.week or event.room %}
				<div class="line">&nbsp;
					<span class="event_week">{{ event.week }}</span>
					<span class="event_room">{{ event.room }}</span>
				</div>
				{% endif %}
			</div>
			{% endfor %}
			</td>
		{% endfor %}
	</tr>
{% endfor %}
</tbody>
</table>

<table class="schedule alt align-center tbl_bottom">
<thead>
	<tr>
		<th></th>
		<th class="ltime"></th>
		<th>Четверг</th>
		<th>Пятница</th>
		<th>Суббота</th>
	</tr>
</thead>
<tbody>
{% for numb, row in table_content.items %}
	<tr>
		<td class="left">{{ row.liter }}</td>
		<td class="left ltime">{{ row.time }}</td>
		{% for day, event_list in row.events.items %}
			{% if day > 2 %}
				<td  class="events_cell">
				{% for event in event_list %}
				<div>
					<span class="event_name">{{ event.name }}</span><br>
					{% if event.teacher %}<span class="event_teacher">{{ event.teacher }}</span><br>{% endif %}
					{% if event.week or event.room %}
					<div class="line">&nbsp;
						<span class="event_week">{{ event.week }}</span>
						<span class="event_room">{{ event.room }}</span>
					</div>
					{% endif %}
				</div>
				{% endfor %}
				</td>
			{% endif %}
		{% endfor %}
	</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>

<div class="mobile">
{% for day, day_content in mobile_content.items %}
	<table class="day">
	<div class="day_label">{{ day_content.label }}</div>
	{% for numb, row in day_content.content.items %}
		<tr class="numb">
			<td class="liter">{{ row.liter }}</td>
			<td class="time">{{ row.time }}</td>
			<td class="events">
			{% for event in row.events %}
				<div>
					<span class="event_name">{{ event.name }}</span><br>
					{% if event.teacher %}<span class="event_teacher">{{ event.teacher }}</span><br>{% endif %}
					{% if event.week or event.room %}
						<div class="line">&nbsp;
							<span class="event_week">{{ event.week }}</span>
							<span class="event_room">{{ event.room }}</span>
						</div>
					{% endif %}
				</div>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</table>
{% endfor %}
</div>
</div>

{% endblock %}
