{% extends "frontend/base.html" %}
{% block content %}
<section id="main" class="wrapper">
<div class="inner">
<div class="table-wrapper">
<table class="panel">
<tbody>
	<tr>
		{% for numb, week in week_panel.items %}
		<td class="{% if week.status %}panel_on{% else %}panel_off{% endif%}" >
			<a href="{% url "schedule" numb %}"></a>
			{{ numb }}<br><span class="week_range">{{ week.range }}</span>
		</td>
		{% endfor %}
	</tr>
</tbody>
</table>
<table class="schedule alt align-center">
<thead>
	<tr>
		<th></th>
		<th></th>
		<th>Понедельник</th>
		<th>Вторник</th>
		<th>Среда</th>
		<th>Четверг</th>
		<th>Пятница</th>
		<th>Суббота</th>
	</tr>
</thead>
<tbody>
{% for numb, row in table_content.items %}
	<tr>
		<td class="left">{{ row.liter }}</td>
		<td class="left">{{ row.time }}</td>
		{% for day, event_list in row.events.items %}
			<td  class="events_cell">
			{% for event in event_list %}
			<div>
				<span class="event_name">{{ event.name }}</span><br>
				{% if event.teacher %}<span class="event_teacher">{{ event.teacher }}</span><br>{% endif %}
				{% if event.week or event.room %}
				<div class="line">&nbsp;
					<span class="event_week">{{ event.week }}</span>
					<span class="event_room">{{ event.room }}</span>
				</div>
				{% endif %}
			</div>
			{% endfor %}
			</td>
		{% endfor %}
	</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

{% endblock %}
